/*The style sheet for my about.html page*/

#me {
    padding: 0 50px;
    width: 320px;
    height:320px;
    border-radius: 50%;
}

#tweet {
    margin: auto;
    width: 50%;
}

@media screen and (max-width: 1024px) {
    #tweet {
        margin: auto;
        width: 75%;
    }

    #me {
        padding: 0;
        width: 320px;
        height:320px;
        border-radius: 50%;
    }

    
    #footer-image {
        max-width: 350px;
        width: 350px;
        height:200px;
        margin: auto;
    }
}
