/*Stylesheet for services.html*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #918585;
}

tr:hover > td {
    background-color: greenyellow;
}

#Services {
    margin-top: 100px;
}

td > a {
    color: black;
}
